@page "/fetchdata"
@using BlazeApp.Data
@inject CityInfoDbService CityService

<PageTitle>Transaction view</PageTitle>

<h1>Transaction view</h1>

<p>
    <label>
        Filter by date:
        <input type="date" value="@selectedDate.ToString("yyyy-MM-dd")" @onchange="OnDateChanged"/>
    </label>
</p>

@if (filteredCities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Population</th>
                <th>Area</th>
                <th>Seen?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in filteredCities)
            {
                <tr>
                    <td>@city.Name</td>
                    <td>@city.Population</td>
                    <td>@city.Area</td>
                    <td>@city.Seen</td>
                </tr>
            }
        </tbody>
    </table>
}
