@page "/file-upload-1"
@using OfficeOpenXml;
@using System.Data;
@inject ILogger<FileUpload1> Logger

<h3>Upload Files</h3>

<p>
    <label>
        Max file size:
        <input type="number" @bind="maxFileSize" />
    </label>
</p>

<p>
    <label>
        Max allowed files:
        <input type="number" @bind="maxAllowedFiles" />
    </label>
</p>

<p>
    <label>
        Upload up to @maxAllowedFiles of up to @maxFileSize bytes:
        <InputFile OnChange="@ReadExcelDataAsync" multiple />
    </label>
</p>

@if (isLoading)
{
    <p>Uploading...</p>
}
else
{
    <ul>
        @foreach (var file in loadedFiles)
        {
            <li>
                <ul>
                    <li>Name: @file.Name</li>
                    <li>Last modified: @file.LastModified.ToString()</li>
                    <li>Size (bytes): @file.Size</li>
                    <li>Content type: @file.ContentType</li>
                </ul>
            </li>
        }
    </ul>
}

@if (cityDetailTable != null && cityDetailTable.Rows.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                @foreach (DataColumn col in cityDetailTable.Columns)
                {
                    if (col.ColumnName != "cityDetailId")
                    {
                        <th>@col.ColumnName <div @onclick="() => SortRowsBy(col.ColumnName)" class="inline oi oi-chevron-top"></div></th>
                    }
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int rowIdx = 0;
                @foreach (DataRow row in cityDetailTable.Rows)
                {
                    int currIdx = rowIdx;
                    string rowClass = (selectedRow1 == currIdx || selectedRow2 == currIdx) ? "bg-primary" : "";
                    <tr @onclick="() => SelectRowForSwap(currIdx)" class="@rowClass">
                        
                        @if (EditRowId != row["cityDetailId"].ToString())
                        {
                            @foreach (DataColumn col in cityDetailTable.Columns)
                            {
                                if (col.ColumnName != "cityDetailId")
                                {
                                    <td>@row[col.ColumnName]</td>
                                }
                            }
                            if (!IsLastRow(row))
                            {
                                var cityInfoId = row["cityDetailId"].ToString();
                                <td>
                                    <button @onclick="() => BeginEdit(row)">Edit</button>
                                    <button @onclick="() => DeleteCityAndRefreshUI(cityInfoId)">Delete</button>
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        else
                        {
                            @foreach (DataColumn col in cityDetailTable.Columns)
                            {
                                if (col.ColumnName != "cityDetailId")
                                {
                                    var cityInfoId = row["cityDetailId"].ToString();
                                    if (col.ColumnName == "citySeen")
                                    {
                                        <td>
                                            <input type="checkbox" checked="@(row[col.ColumnName].ToString() == "Y")" @onchange="@(e => OnCheckboxChange(e, row, col.ColumnName))" />
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <input type="text" value="@row[col.ColumnName]" @onchange="@(e => OnInputChange(e, cityInfoId, col.ColumnName))" />
                                        </td>
                                    }
                                }
                            }

                            if (!IsLastRow(row))
                            {
                                <td>
                                    <button @onclick="() => EndEdit()">Save</button>
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    </tr>
                    rowIdx++;
                }   
            }
        </tbody>
    </table>
}
